{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Covido</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css'%}">
    <!-- style css -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- fevicon -->
    <link rel="icon" href="{% static 'images/fevicon.png'%}" type="image/gif" />
    <link rel="stylesheet" type='text/css'
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
        integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"
        integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">
    <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="{% static 'images/loading.gif'%}" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- top -->
    <!-- header -->
    <header class="header-area">
        <div class="container">
            <div class="row d_flex">
                <div class="col-sm-3 logo_sm">
                    <div class="logo">
                        <a href="index.html"></a>
                    </div>
                </div>
                <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-9"
                    style="display: flex; justify-content: space-around;">
                    <div class="navbar-area">
                        <nav class="site-navbar">
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li><a class="active" href="{% url 'assessment' %}">Assessment</a></li>
                                <li><a  href="{% url 'news' %}">News</a></li>
                                <li><a href="{% url 'team' %}">Team</a></li>
                            </ul>
                            <button class="nav-toggler">
                                <span></span>
                            </button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="full_bg">
        <!-- header inner -->
        <div class="section">
            <!-- carousel code -->
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="photog">
                            <br>
                            <br>
                            <br>
                            <br>
                            <h1>COVID-19<br>RISK REPORT:</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about">
        <div class="container_width">
            <div class="row d_flex">
                <div class="col-md-7">
                    <div class="titlepage text_align_left">
                        <pre><h3>Name:       {{user.name}}</h3></pre>
                        <pre><h3>Age:        {{user.age}}</h3></pre>
                        <pre><h3>E-mail:     {{user.email}}</h3></pre>
                        <pre><h3>Date:       {{user.date}}</h3></pre>
                        <p>This Pre-diagnostic Report is a result of the COVID-19 Infection Risk Calculation Test (Self-Assessment), taken by the
                        above mentioned. The Assessment was a digital service that helps the users to map their symptoms and check their Risk
                        Score. This report can be used as a first-hand report to consult a doctor, but not as a diagnostic Report.
                        The findings of the Assessment are as shown below-</p>
                        <h3>Interpretation:</h3>
                        <p style="color: color;">{{interpretation}}</p>
                        <h3>Remark:</h3>
                        <p style="color: color;">{{remark}}</p>
                    </div>
                </div>
                <div class="col-md-5 ">
                    <div class="about_img text_align_center ">
                        <figure><img src="{% static 'images/risk.png' %} " alt="# " /></figure>
                        <br>
                        <br>
                        <pre><h3>Your Score:     {{score}}%</h3></pre>
                        <figure><img src="{% static img %} " alt="# " /></figure>
                        <br>
                    </div>
                </div>
                <div class="col-md-5 ">
                    <form method="POST">
                        {% csrf_token %}
                    <div class="submitf">
                        <input type="submit" class="submitb" name="Submit" id="sub_user" value="Mail Report to me">
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!--  footer -->
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="hedingh3 text_align_left">
                            <h3>Resources</h3>
                            <ul class="menu_footer">
                                <li><a href="{% url 'home' %}">Home</a>
                                <li>
                                <li> <a href="https://www.covidwar.karnataka.gov.in/">COVID-19 Test Result Portal</a>
                                <li>
                                <li><a href="https://www.who.int/">WHO</a>
                                <li>
                                <li> <a href="https://www.mohfw.gov.in/">Government of India</a>
                                <li>
                                <li> <a href="https://covid19.karnataka.gov.in/english">Government of Karnataka</a>
                                <li>
                                <li> <a href="https://covid19.bbmpgov.in/">BBMP</a>
                                <li>
    
                            </ul>
    
    
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="hedingh3 text_align_left">
                            <h3>About</h3>
                            <p>This ChatBot is a Digital Service that helps the users to self-assess, map their COVID-19
                                symptoms and check their Risk Score, after which a Pre-diagnostic Report is mailed to them
                                that can be used as a first-hand report to
                                consult a doctor.
                            </p>
                        </div>
                    </div>
    
    
    
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="hedingh3  text_align_left">
                            <h3>Contact Us</h3>
                            <ul class="top_infomation">
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i> Bangalore,India
                                </li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i> Call : +01 1234567890
                                </li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i>
                                    <a href="Javascript:void(0)">Email : crc19@gmail.com</a>
                                </li>
                            </ul>
    
    
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="hedingh3 text_align_left">
                            <img src="{% static 'images/logo.png'%}" style="width: 800px;">
                        </div>
                    </div>
    
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <p>© 2020 All Rights Reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
        <!-- end footer -->
        <!-- Javascript files-->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
        </body>
        
        </html>